{% extends "base.html" %}
{% load thumbnail %}
{% block title %}

    Просмотр поста пользователя 
    {% if post.author.get_full_name %}
        {{ post.author.get_full_name }}
    {% else %}
        {{ post.author.get_username }}
    {% endif %}

{% endblock %}
{% block content %}

<main role="main" class="container">
    <div class="row">
        <div class="col-md-3 mb-3 mt-1">
            <div class="card">
                <div class="card-body">
                    <div class="h2">
                        {{ post.author.get_full_name }}
                    </div>
                    <div class="h3 text-muted">
                        @{{ post.author.get_username }}
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="h6 text-muted">
                        Подписчиков: {{ followers }} <br />
                        Подписан: {{ followed }}
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="h6 text-muted">
                            <!-- Количество записей -->
                            Записей: 1
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-md-9">

            <!-- Блок с отдельным постом -->
            {% include "post_item.html" with post=post %}

            <!-- Блок комментариев -->
            {% include "comments.html" with comments=comments post=post %}

        </div>
    </div>
</main> 

{% endblock %}