{% extends "base.html" %}
{% load thumbnail %}
{% block title %}

    Профиль пользователя 
    {% if profile.get_full_name %}
        {{ profile.get_full_name }}
    {% else %}
        {{ profile.get_username }}
    {% endif %}

{% endblock %}
{% block content %}

<main role="main" class="container">
    <div class="row">
        <div class="col-md-3 mb-3 mt-1">
            <div class="card">
                <div class="card-body">
                    <div class="h2">
                        {{ profile.get_full_name }}
                    </div>
                    <div class="h3 text-muted">
                        @{{ profile.get_username }}
                    </div>
                    {% if user.is_authenticated %}
                    <li class="list-group-item">
                        {% if following %}
                        <a class="btn btn-lg btn-light" 
                                href="{% url 'profile_unfollow' profile.username %}" role="button"> 
                                Отписаться 
                        </a> 
                        {% else %}
                        <a class="btn btn-lg btn-primary" 
                                href="{% url 'profile_follow' profile.username %}" role="button">
                        Подписаться 
                        </a>
                        {% endif %}
                    </li>
                    {% endif %}
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="h6 text-muted">
                        Подписчиков: {{ followers }} <br />
                        Подписан: {{ followed }}
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="h6 text-muted">
                            <!-- Количество записей -->
                            Записей: {{ paginator.count }}
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-md-9">
            <!-- Блок с отдельным постом -->
            {% for post in page %}
                {% include "post_item.html" with post=post %}
            {% endfor %}

            <!-- Вывод паджинатора -->
            {% if page.has_other_pages %}
                {% include "paginator.html" with items=page paginator=paginator%}
            {% endif %}
        </div>
    </div>
</main> 

{% endblock %}